{
    margin: 0px;
    padding: 0px;
   

}
.conteiner{
    background-color: #ccc;
    height: 500px;
    display: flex;
    flex-direction:row; /* column |  column-reverse | row-reverse */
    flex-wrap:wrap; 
    /* wrap | wrap-reverse*/
    /* flex-flow:wrap; */

    justify-content: flex-start;
    /* flex-start | flex-end  |    center  | space-around  | space-between  |   |  */

    align-items:stretch;
    /* flex-start | flex-end  |  center|baseline  alinaha de acordo com o conteudo */

    align-content:flex-start;
     /* flex-start | flex-end  |  center|space-betwen | space-around  |stretch  */

}

/* Esse é um comentario em Css  */

.item {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 5px;
    width: 30px;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;

    flex: 1 1 300;/*  resume todas as opções acima */

    
}
.article-1{order: 3;flex-grow: 10;flex-shrink: 3;}
.article-2{order: 1; align-self:auto;}
.article-3{order: 2;}
.article-4{order: 4;}
